# .flake8
[flake8]
max-line-length = 88
extend-ignore = E203
per-file-ignores =
    */__init__.py: F401
exclude =
    MapAnalyzer
    sc2_helper
    tests/generate_pickle_data.py.py
    tests/test_run.py
