# .flake8
[flake8]
max-line-length = 88
extend-ignore = E203
per-file-ignores =
    */__init__.py: F401
exclude =
    MapAnalyzer
    sc2_helper
    cython_extensions
    tests/test_bots
    tests/generate_pickle_data.py.py
    tests/test_run.py
    tests/conftest.py
    tests/load_bot_from_pickle.py
    tests/generate_pickle_data.py
    tests/travis_test_script.py
